@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-poppins: var(--font-popins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-stroke {
  color: white;
  -webkit-text-stroke: 1px grey;
}

.font-figtree {
  font-family: var(--font-figtree);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-libre-baskerville {
  font-family: var(--font-libre-baskerville);
}
#proficiency .text-3xl.ml-4 {
  font-size: 80px !important; /* Make emoji font size 80px */
  width: 80px; /* Set width */
  height: 80px; /* Set height */
  line-height: 1; /* Remove extra spacing */
  display: flex; /* Use flex to center emoji */
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
}
